
        {% for categorie in categories %}
            <li class="dropdown yamm-fw">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                   data-delay="200">{{ categorie.nom }} <b class="caret"></b></a>

                <ul class="dropdown-menu">
                    <li>
                        <div class="yamm-content">
                            <div class="row">

                                <h5>{{ categorie.nom }}</h5>
                                {{ render(controller('EshopUserBundle:template:menuSousCategorie',{ 'categorie': categorie.id })) }}
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        {% endfor %}
